<div class="container-fluid">
  <h2 class="hero-title text-center m-5"><%= @user.first_name %> <%= @user.last_name %>'s Profile</h2>
</div>


<div class="user-container">
  <div class="user-card">
    <div class="user-img-container">
      <% if @user.profile_picture.attached? %>
        <%= image_tag @user.profile_picture, class: "user-img" %>
      <% else %>
        <p>Edit your profile to add a picture.</p>
      <% end%>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
      <% if @user.has_role?(:admin) %>
        <p style="text-align: center;">Admin</p>
      <% end %>
      <hr>
      <h5>Bio</h5>
      <p class="card-text"><%= @user.bio %></p>
      <hr>
    </div>
  </div>
</div>
<br><br>

<h2 class="my-books text-center"><%= @user.first_name %> <%= @user.last_name %>'s Books</h2>
<br><br>

<div class="cards-container">
  <% @user.books.each do |book|%>
    <div class="card" style="width: 15rem;">
      <%= link_to image_tag book.picture, class: "card-img-top" if book.picture.attached? %>
      <div class="card-body">
        <h6><%= link_to "#{book.title}", book_path(book.id), class: "card-title" %></h6>
        <p style="text-align: center;"><%= link_to "#{book.author.first_name} #{book.author.last_name}", author_path(book.author.id), class: "card-text" %></p>
        <hr>
        <div class="card-text">
          <p><%= link_to "View", book_path(book.id) %> | <%= link_to "Edit", edit_book_path(book.id) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br><br>

<h2 class="my-books text-center"><%= @user.first_name %> <%= @user.last_name %>'s Rentals</h2>
<br><br>

<div class="cards-container">
  <% @user.rentals.each do |rental|%>
    <div class="card" style="width: 15rem;">
      <%= link_to image_tag rental.book.picture, class: "card-img-top" if rental.book.picture.attached? %>
      <div class="card-body">
        <h6><%= link_to "#{rental.book.title}", book_path(rental.book.id), class: "card-title" %></h6>
        <p style="text-align: center;"><%= link_to "#{rental.book.author.first_name} #{rental.book.author.last_name}", author_path(rental.book.author.id), class: "card-text" %></p>
        <hr>
        <div class="card-text">
          <p><%= link_to "View", book_path(rental.book.id) %> | <%= link_to "Return", rental_path(rental.book.id) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br><br>
