
<div class="cards-container">

  <% @books.each do |book|%>
    <div class="card" style="width: 15rem;">
      <%= link_to image_tag(book.picture, class: "card-img-top"), book_path(book.id) if book.picture.attached? %>
      <div class="card-body">
        <h6><%= link_to "#{book.title}", book_path(book.id), class: "card-title" %></h6>
        <p class="card-text"><%= book.author.name %></p>
        <hr>
        <div class="action-icons">
          <div class="swap-action">
            <p>Exchange</p> 
            <%= link_to image_tag("icons/swap.svg", class: "swap-icon"), books_path %>
          </div>
          <br>
          <% if !book.user.id %>
            <div class="basket-action">
              <p>Add to Basket</p>
              <%= link_to image_tag("icons/basket.svg", class: "basket-icon"), books_path %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>

