
<!-- Website title and search bar -->
<div class="container">
  <div class="brand-search">
    <h1><%= link_to 'STEAMdeck', root_path, class: "navbar-brand" %></h1>

    <%= form_tag book_search_path, method: :get, class: "navbar-form" do %>
      <div class="search-bar">
        <%= text_field_tag :q, params[:q], placeholder: "Search by keyword or title", class: "fa fa-search form-control", autocomplete: "off", style: "outline: none;" %>
        <%= submit_tag "Search", class: "btn btn-default" %>
      </div>
    <% end %>    
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link active", id: "first-link" %>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link mx-auto dropdown-toggle" id="dropdown-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">Browse by Category</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown07">

            <!-- Did not find a way to simplify this dynamically-->
            <li><%= link_to 'Creative Arts', creative_arts_path, class: "dropdown-item" %></li>
            <li><%= link_to 'Design', design_path, class: "dropdown-item" %></li>
            <li><%= link_to 'Information Technology', tech_path, class: "dropdown-item" %></li>
            <li><%= link_to 'Science', science_path, class: "dropdown-item" %></li>
          </ul>
        </li>
      </ul> 

      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <% if has_role?(:admin) %>
            <li class="nav-item">
              <%= link_to 'Manage Books', books_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Manage Categories', categories_path, class: "nav-link active" %>
            </li>
          <% end %>

          <li class="nav-item">
            <%= link_to 'Add Book', new_book_path, class: "nav-link active" %>
          </li>

          <% if current_user.rentals.count > 0 %>
            <li class="nav-item">
              <%= link_to 'My Rentals', rentals_path, class: "nav-link active" %>
            </li>
          <% end %>

          <li class="nav-item dropdown">
            <a class="nav-link mx-auto dropdown-toggle" id="dropdown-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">Hello <%= current_user.first_name %></a>
            <ul class="dropdown-menu" aria-labelledby="dropdown07">
              <%= link_to 'My Profile', user_profile_path, class: "dropdown-item" %>

              <% if !user_signed_in? %>
                <%= link_to 'Log in', new_user_session_path, class: "dropdown-item" %>
              <% else %>
                <%= link_to 'Log out', destroy_user_session_path, method: "delete", class: "dropdown-item" %>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% if !user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Log in', new_user_session_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <!-- Improvised way to make a divider between navbar links -->
            <%= link_to '|', "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: "nav-link active" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
