
<div class="show-content">
  <div>
    <%= image_tag @book.picture, class: "show-img-top" if @book.picture.attached? %>
    <br><br>
  </div>

  <div class="book-info">
    <h4><%= @book.title.upcase %></h4>
    <p>By <%= link_to "#{@book.author.first_name} #{@book.author.last_name}", author_path(@book.author.id) %></p>
    <p>Format: <%= @book.format %></p>
    
    <!-- The has_role? method is defined in the application_helper.rb file. Its purpose is to make the process of verifying user roles easier -->
    <% if (user_signed_in? && @book.user.id == current_user.id) || has_role?(:admin) %>
      <span><%= link_to "Edit", edit_book_path %> |</span>
      <span><%= link_to "Delete", @book, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      <br />
    <% end %>
    <br>

    <div class="book-description col-md-7 order-md-2">
      <h5>Summary</h5>
      <%# <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis tempore placeat fuga modi nisi quidem illum expedita repudiandae, recusandae iusto cupiditate maxime optio, fugit aliquid culpa sed nostrum eaque rem!</p> %>
      <p><%= @book.description %></p>
    </div>
  </div>
  
  <!-- These divs are called basket because I tried to implement a cart feature and forgot to change their names across the project after it didn't work -->
  <div class="basket">  
    <div class="basket-links">
      <% if user_signed_in? %>
        <h4>Kindly Shared By</h4><br>
        <%= link_to "#{@book.user.first_name} #{@book.user.last_name}", user_path(@book.user) %>
        <br><br>
        <% if @book.quantity > 0 %>
          <h5 class="book-available"><%= @book.quantity %> in Stock ✅</h5><hr />
          <button data-stripe="payment" class="basket-text btn btn-primary">Rent for $<%= @book.price %> (AUD)</button>
        <% else %>
          <h5 class="book-unavailable">Out of stock ❌</h5><hr />
        <% end %>
      <% else %>
        <%= button_to "Rent for $#{@book.price} (AUD)", new_user_registration_path, method: :get, class: "basket-text btn btn-primary" %>
      <% end %>
    </div>

    <br><br><br><br>

    <div class="map-container">
      <h5 class="map-heading">
        Locations Available for Pickup:
        <br><br>
        <p class="location-subs">(click on the pins to view store hours)</p>
      </h5>
      <div id="map">
        <%= javascript_pack_tag "leaflet/index" %>
      </div>
    </div>
  </div>
</div>

<br><br><br>

<!-- This partial renders JavaScript code to make the Stripe payment system work within this page -->
<%= render "shared/stripe" %>


