
<%= render "shared/line_item" %>

<% if @cart.line_items.count <= 0 %>
  <% @cart.destroy %>
  <%#= button_to 'Delete Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger" %>
<% else %>
  <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger" %>
<% end %>
    
<span class="f5 has-text-grey">Total:</span> <%= number_to_currency(@cart.total_price) %>

<br><br>

<% if user_signed_in? %>
  <% if @cart.line_items.count > 0 %>
    <button data-stripe="payment" class="basket-text btn btn-primary">Checkout</button>
  <% end %>
<% else %>
    <%= button_to "Checkout", new_user_registration_path, method: :get, class: "basket-text btn btn-primary" %>
<% end %>


<script src="https://js.stripe.com/v3/"></script>
<script>
  document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
      var stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>